.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
.boton{
    background-color: blue;
    border-radius: 15px;
    width: 15%;
    height: 15%;
    font-size: 2rem;
    color: black;
    padding: 2%;
    text-decoration: none;
}

.boton:hover{
    background-color: chartreuse;
    border-radius: 20px;
}
.logo{
    width: 30vw;
    height: 30vh;
}
.container{
    width: 80vw;
    text-align: center;
    justify-content: center;
    margin-left: 10vw;
}
#a{
    text-decoration: none;
}
.portada{
    width: 30%;
    height: 30%;
}